﻿@section Scripts {
    @Scripts.Render("~/Scripts/Skripta.js")
}

<div class="row">

    <div class="col-sm-4">
        <form method="post" action="post/" id="registracija">
            <h3>Registracija</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" id="regEmail" />
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="regLoz" />
            </div>
            <div class="form-group">
                <label>Potvrdi Lozinku</label>
                <input class="form-control" type="password" id="regLoz2" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Registracija</button>
            </div>
        </form>
    </div>

    <div class="col-sm-4">
        <form method="post" action="post/" id="prijava">
            <h3>Prijava</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" id="priEmail" />
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="priLoz" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Prijava</button>
            </div>
        </form>
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-4" id="odjava">
        <h3>Odjava</h3>
        <button class="btn btn-default" id="odjavise">Odjava</button>
    </div>
</div>

<hr />
<p id="info"></p>
<div id="sviproizvodi">
    <br />
    <div id="sadrzaj" class="container"></div>
</div>
<div id="akcije">
    <br />
    <button class="btn btn-default" id="btnakcije">Rad sa proizvodima</button>
    <div id="data"></div>
    <br />
    <div id="formDiv1" style="display:none">
        <form method="post" action="post/" id="formProizvod">
            <p><label>Ime: <input id="imeProizvod"></label></p>
            <p><label>Cena: <input type=number id="cenaProizvod"></label></p>
            <p><label>Datm izrade: <input type=datetime-local id="dateProizvod"></label></p>
            <br />
            <p><button>Pošalji</button></p>
        </form>
    </div>

</div>
<!--
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
        </tr>
    </tbody>
</table>
    -->